.title-box{
    position: absolute;
    width: 30%;
    height: 5%;
    left: 7%;
    top: 12.5%;

    font-size: 30px;

    padding-left: 10px;
    padding-top: 5px;
    
    background: transparent;
    border: 5px solid #1D5E9F;
    box-sizing: border-box;

}

.date-box{
    position: absolute;
    width: 30%;
    height: 5%;
    left: 7%;
    top: 20.5%;

    font-size: 30px;

    padding-left: 10px;
    padding-top: 5px;
    
    background: transparent;
    border: 5px solid #1D5E9F;
    box-sizing: border-box;

}
.time-box{
    position: absolute;
    width: 30%;
    height: 5%;
    left: 7%;
    top: 28.5%;

    font-size: 30px;

    padding-left: 10px;
    padding-top: 5px;
    
    background: transparent;
    border: 5px solid #1D5E9F;
    box-sizing: border-box;

}
.type-box{
    position: absolute;
    width: 30%;
    height: 5%;
    left: 7%;
    top: 36.5%;

    font-size: 30px;
    
    padding-left: 10px;
    padding-top: 5px;
    
    background: transparent;
    border: 5px solid #1D5E9F;
    box-sizing: border-box;

}

.button{
position: absolute;
width: 14%;
height: 7%;
left: 23%;
top: 68.5%;

background: #3B7648;
border-radius: 15px;
border: none;
align-self: center;

font-family: Roboto;
font-size: 30px;
line-height: 42px;
color: #FFFFFF;
}

.title-icon{
position: absolute;
width: 40px;
    height: 40px;
    left: 3.5%;
    top: 13%;
    color: #9E9E9E;
}

.date-icon{
    position: absolute;
    width: 40px;
        height: 40px;
        left: 3.5%;
        top: 21%;
        color: #9E9E9E;
    }

.time-icon{
position: absolute;
width: 40px;
height: 40px;
left: 3.5%;
top: 29%;
color: #9E9E9E;
}

.location-icon{
position: absolute;
width: 40px;
height: 40px;
left: 3.5%;
top: 45%;
color: #9E9E9E;
}

.type-icon{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 3.5%;
    top: 37%;
    color: #9E9E9E;
    }



    .location-box{
        position: absolute;
        width: 30%;
        height: 5%;
        left: 7%;
        top: 44.5%;
    
        font-size: 30px;
    
        padding-left: 10px;
        padding-top: 5px;
        
        background: transparent;
        border: 5px solid #1D5E9F;
        box-sizing: border-box;
    
    }
    .st-box{
        position: absolute;
        width: 30%;
        height: 5%;
        left: 7%;
        top: 52.5%;
    
        font-size: 30px;
    
        padding-left: 10px;
        padding-top: 5px;
        
        background: transparent;
        border: 5px solid #1D5E9F;
        box-sizing: border-box;
    
    }
    .stnum-box{
        position: absolute;
        width: 30%;
        height: 5%;
        left: 7%;
        top: 60.5%;
    
        font-size: 30px;
    
        padding-left: 10px;
        padding-top: 5px;
        
        background: transparent;
        border: 5px solid #1D5E9F;
        box-sizing: border-box;
    
    }

    .search-button{
        position: absolute;
    width: 14%;
    height: 7%;
    left: 7%;
    top: 68.5%;

    background: linear-gradient(180deg, rgba(11, 138, 255, 0.51) 99.99%, rgba(11, 108, 255, 0) 100%);
    border-radius: 15px;
    border: none;
    align-self: center;

    font-family: Roboto;
    font-size: 30px;
    line-height: 42px;
    color: #FFFFFF;
    }
    .longtitude-box{
        position: absolute;
        width: 21%;
        height: 5%;
        left: 47%;
        top: 69.5%;
    
        font-size: 30px;
    
        padding-left: 10px;
        padding-top: 5px;
        
        background: transparent;
        border: 5px solid #1D5E9F;
        box-sizing: border-box;
    }

    .lengthitude-box{
        position: absolute;
        width: 21%;
        height: 5%;
        left: 71%;
        top: 69.5%;
    
        font-size: 30px;
    
        padding-left: 10px;
        padding-top: 5px;
        
        background: transparent;
        border: 5px solid #1D5E9F;
        box-sizing: border-box;
    }

    .address-not-found{
        left: 37.78%;
        top: 85.13%;
        width: 45%;
        height: 7%;

        position: absolute;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 28px;

        color: #FFFFFF;
    }

    .map-add{
        background-color: transparent;
        position: absolute;
        width: 45.0%;
        height: 52.50%;
        left: 47.0%;
        top: 12.0%;
        
        border: 5px solid #1D5E9F;
        box-sizing: border-box;
    
    }