.home-screen-background-circle-blue{
    position: absolute;
    width: 19.79%;
    height: 34.83%;
    left: -2.22%;
    top: 67.18%;
    border-radius: 50%;

    background: rgba(11, 138, 255, 0.1);
}
.home-screen-background-circle-green{
    position: absolute;
    width: 38.47%;
    height: 70%;
    left: 70.2%;
    top: -6.25%;
    border-radius: 50%;
    
    background: rgba(37, 167, 65, 0.1);
}
.home-screen-left-bar{
    position: absolute;
    width: 5.32%;
    height: 100%;
    left: 0%;
    top: 0%;   

    background: #1F1F23;
    box-shadow: 3px 0px 2px rgba(0, 0, 0, 0.07);

}
.your-events-icon{
    position: absolute;
    width: 3.47%;
    height: 4.88%;
    left: 1.18%;
    top: 13.2%;
    
    background: #1F1F23;
    border: none;

    color: #8CE8A0;
}
.your-events-icon-marker{
    position: absolute;
    width: 0.25%;
    height: 2.8%;
    left: 0px;
    top: 14.4%;

    background: #8CE8A0;
}
.others-events-icon{
    position: absolute;
    width: 3.47%;
    height: 4.88%;
    left: 1.18%;
    top: 24.2%;
    background: #1F1F23;
    border: none;

    color: #9E9E9E;
}
.others-events-icon-marker{
    position: absolute;
    width: 0.25%;
    height: 2.8%;
    left: 0%;
    top: 25.3%;

    background: #8CE8A0;
}
.add-event-icon{
    position: absolute;
    width: 3.47%;
    height: 4.88%;
    left: 1.18%;
    top: 36%;
    background: #1F1F23;
    border: none;

    color: #9E9E9E;
}
.add-event-icon-marker{
    position: absolute;
    width: 0.25%;
    height: 2.8%;
    left: 0%;
    top: 37.54%;

    background: #8CE8A0;
}
.home-screen-top-bar{
    position: absolute;
    width: 100%;
    height: 9.32%;
    left: 0%;
    top: 0%;

    background: #1F1F23;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.07);
}
.search-icon{
    position: absolute;
    width: 3.47%;
    height: 4.88%;
    left: 8.05%;
    top: 2.0%;
    background: #1F1F23;
    border: none;

    color: #9E9E9E;

}
.search-input{
    position: absolute;
    width: 13.26%;
    height: 7%;
    left: 12.36%;
    top: 1%;

    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;

    color: #9E9E9E;
    background-color: #1F1F23;
    border: none;

}
.search-method-icon{
    position: absolute;
    width: 3.47%;
    height: 5.88%;
    left: 30.41%;
    top: 1.47%;
    background: #1F1F23;
    border: none;

    color: #9E9E9E;
}
.sign-out-icon{
    position: absolute;
    width: 3.77%;
    height: 4.88%;
    left: 95.48%;
    top: 1.9%;
    background: #1F1F23;
    border: none;

    color: #8CE8A0;
}
.account-button{
    position: absolute;
    width: 20.56%;
    height: 5.71%;
    left: 75.23%;
    top: 1.5%;
    background: #1F1F23;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;

    color: #9E9E9E;
}
.map-button{
    position: absolute;
    width: 20.56%;
    height: 5.71%;
    left: 55.23%;
    top: 1.5%;
    background: #1F1F23;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;

    color: #9E9E9E;
}
.home-page-title-text{
    position: absolute;
    left: 3.73%;
    right: 69.64%;
    top: 8.54%;
    bottom: 87.57%;

    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    background-color: #2F303A;

    color: #9E9E9E;
}
.component-background{
    background-color: transparent;
    position: absolute;
    width: 94.68%;
    height: 953px;
    left: 5.32%;
    top: 9.3%;


}
.component-background-events{
    background-color: transparent;
    position: absolute;
    width: 92.54%;
    height: 55.00%;
    left: 3.73%;
    top: 16.93%;
}
.root{
    width: 'auto'; 
    height: 'auto'; 
    display: 'flex';
    flex-wrap: 'wrap'; 
    overFlow: 'hidden';
}
.gridList{
    width: 1000;
    height: 450;
}
.textTitle{
     
      color: '#8CE8A0';
      font-size: 25;
      
  }
.textDate{
    color: '#9E9E9E';
    font-size: 18;
    
  }
.image{
    width: 25;
    height: 15;
  }
.img{
    display: 'block';
    max-width: '50%';
    max-height: '50%';
  }
.event-id{
    color: white;
    font-size: 50;
}
