.main-background{
    position: relative;
    width: 100%;
    height: 100%;
    background: #2F303A;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.main-image{
    position: absolute;
    width: 41.81%;
    height: 82.91%;
    left: 4.86%;
    top: 15.77%;   
    
    background: url(../static/landing-page-image.png) no-repeat center;
    background-size: contain;
}

.background-cirle-blue{
    position: absolute;
    width: 285px;
    height: 285px;
    left: 33.26%;
    top: 5.76%;
    border-radius: 50%;

    background: rgba(11, 138, 255, 0.1);
}

.background-cirle-green{
    position: absolute;
    display: flex;
    width: 553px;
    height: 553px;
    left: 69.72%;
    top: 60.74%;
    border-radius: 50%;

    background: rgba(37, 167, 65, 0.1);
}

.main-title-text{
    position: absolute;
    width: 564px;
    height: 88px;
    left: 54.23%;
    top: 28.03%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;

    color: #FFFFFF;
}

.main-description-text{
    position: absolute;
    width: 636px;
    height: 46px;
    left: 54.23%;
    top: 42.38%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}

.main-button-sign-up{
    position: absolute;
    width: 220px;
    height: 75px;
    left: 54.23%;
    top: 52.63%;
    border: none;
    border-radius: 10%;
    background: linear-gradient(180deg, rgba(11, 138, 255, 0.51) 99.99%, rgba(11, 108, 255, 0) 100%);
    
    font-family: Roboto;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}

.main-button-sign-in{
    position: absolute;
    width: 439px;
    height: 91px;
    left: 85.90%;
    top: 3.71%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}

.background-circle-pink{
    position: absolute;
    width: 395px;
    height: 395px;
    left: 0%;
    top: 62.3%;
    border-radius: 50%;
    background: rgba(143, 48, 134, 0.1);
}