
.background-cirle-blue-r{
    position: absolute;
    width: 19.79%;
    height: 34.83%;
    left: -2.56%;
    top: -6.05%;
    border-radius: 50%;

    background: rgba(11, 138, 255, 0.1);
}
.background-cirle-green-r{
    position: absolute;
    width: 38.47%;
    height: 70%;
    left: -8.05%;
    top: 59.76%;
    border-radius: 50%;

    background: rgba(37, 167, 65, 0.1);
}
.main-title-text-r{
    position: absolute;
    width: 420px;
    height: 88px;
    left: 6.31%;
    top: 39.16%;

    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;

    color: #FFFFFF;
}
.main-title-text-colored-r{
    float: right;
    font-style: inherit;
    font-size: 96px;
    line-height: 70px;
    color: #5E2758;
}
.background-cirle-violet-r{
    position: absolute;
    width: 27.43%;
    height: 46.57%;
    left: 82.98%;
    top: 79.78%;
    background: rgba(143, 48, 134, 0.1);
    border-radius: 50%;

}
.backgroung-box-style-r{
    position: absolute;
    padding-left: 30px;
    width: 500px;
    height: 653px;
    left: 57.98%;
    top: 5.95%;
    background: #1F1F23;
}
.text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 5px;
    padding-top: 10px;

    color: #FFFFFF;
}
.box{
    font-style: normal;
    font-weight: normal;
    text-align: initial;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 18px;
    color: #FFFFFF;
    background: #1F1F23;
    border: 4px solid #1D5E9F;
    box-sizing: border-box;
    width: 93.38%;
    height: 5.5%;
    
}
.button-r{
    position: absolute;
    font-style: normal;
    font-weight: normal;
    text-align: initial;
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    width: 150px;
    height: 75px;
    left: 36.05%;
    top: 75.76%;
    

    background: linear-gradient(180deg, rgba(11, 138, 255, 0.51) 99.99%, rgba(11, 108, 255, 0) 100%);
    border-radius: 15px;
}
.account-text{
    position: absolute;
    left: 27.05%;
    top: 90.76%;
    color: #FFFFFF;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
 
}
.invalid-credentials-backgroung-r{
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0%;
    top: 80.48%; 

    background: #1F1F23;
}
.invalid-credentials-text-r{
    left: 43%;
    top: 63%;
    width: 50%;
    height: 12.5%;
    position: absolute;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    font-size: 20px;
    line-height: 52px;

    color: #CA3232;
}
.invalid-credentials-icon-r{

    left: 33%;
    top: 64%;
    height: 40px;
    width: 40px;
    position: absolute;
    color: #CA3232;

}
